*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(255, 235, 205, 0.63);
    font-family: Arial, Helvetica, sans-serif
    
}
.contenedor{
           margin: auto;
           width: 98%;
           display:flex;
           flex-wrap:wrap;
}
.contenedor__inicio{
    background-color: aliceblue;
    border:solid red;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 2.5rem;
    grid-template-areas:
    "imagen__pollo" "texto__pollo"
    "texto__huevo" "imagen__huevo"
    ;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffde59;
  
   
}
.pollo{
    padding: 5px;
    width: 10%;
}

header .menu ul{
    list-style-type:none;
    display: flex;
}
header .menu li{
    padding: 0.7rem;
}
header .menu a{
    color:black;
    text-decoration: none;
    padding: 1rem;
}
header .menu a:hover{
    background-color: #df0909;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 500;
}
/* ACA INICIA INICIO*/

.titulo h1{
    display: flex;
    justify-content: center;
    padding: .5rem;
    
}
.titulo h2{
    display: flex;
    justify-content: center;
    padding:.5rem;
}
.titulo h3{
    display: flex;
    justify-content: center;
    padding: .5rem;;
}

main .textoprincipal{
    text-align: center;
    line-height: 2rem;
    margin: 1rem; 

}


main .textoprincipal h1{
    color: rgb(218, 26, 26);
    background-color: rgb(160, 156, 156);
}

.section__pollo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .2rem;
    justify-content: justify;
}

.section__pollo img{
    padding-top: 1rem;
    margin: .5rem;
    float:left;
    height: 44%;
    width: 31rem;
}
.section__pollo p{
    padding-top:  1rem;
    line-height: 1.5rem;
    text-align:justify;
}
.section__huevo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .2rem;
    justify-content: justify;
    
}

.section__huevo img{
    padding-top: 1rem ;
    margin: .5rem;
    display: inline;
    float: right;
    height: 20%;
    width: 31rem;
}

.section__huevo p{
    padding-top: 1rem;
    line-height: 1.5rem;
    text-align:justify;
    
}

.section3p{
    padding-top: 1rem;
    margin: .5rem;
    justify-content: center;
    display: block;
    align-items: baseline;
}
.section3p img{
    padding-top: 1rem ;
    margin: .5rem;
    display: block;
    padding-bottom: 1rem;
    float: left;
    width: 40%;
    height: 15%;
}
.section3p p{
    padding-top: 1rem;
}


/* ACA TERMINA INICIO*/

/* ACA EMPIEZA PRODUCTO */
.body__producto{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main__producto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 32.5rem;
    margin: 30px;
    padding: 2rem;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
   

}
.card img{
    width: 100%;
    height: 210px;
}
/* ACA TERMINA PRODUCTO*/

/* ACA EMPIEZA CONTACTO */
.contenedor__contacto h1{
    text-align: center;
    padding: 1rem;
    
}
.contacto__logos{
    width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "telefono" "gmail"
    "facebook" "instagram";
    row-gap: 5rem;

}

.contacto__logos .logos{
    width: 50%;
    height: auto;
    align-items: center;
    padding: 1rem;
    text-align: justify;
   
}
 div .logos li{
    list-style: none;
    
 }
 div .logos a{
    text-decoration: none;
 }
 div .logos li p{
    padding: 1rem;
    
 }

.aside__contacto{
    width:50%;
    height: 90%;
    padding: 2rem;
    margin:auto;
    margin:left  2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.section__contacto img{
    vertical-align: auto;
    box-sizing: content-box;
    width: 100%;
}
.section__contacto h1{
    padding-bottom: 2rem;
    font-weight: 900;
}

/* ACA TERMINA CONTACTO*/

/* ACA EMPIEZA FAQ */
.accordion{
    width: 98vw;
}

/* ACA TERMINA FAQ*/

/* ACA EMPIEZA FORMULARIO*/


div .formulario{
width: 100%;
font-size: 28px;
}

div .formulario h1{
    text-align: center;
    color:red

    
}

/* ACA TERMINA FORMULARIO*/
footer{
    background-color: #ffde59;
    width: 100%;
    justify-content:space-around;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.banner{
    width: 30vw;
    height: 20vh;
}

/*ARRANCA RECETAS*/

/*TERMINA RECETAS*/
@media (max-width:700px){

    header{
        background-color: #ffffff;
    }
    .menu{
 
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .titulo{
        flex-direction: row;
    }
}
    
