*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "header";
@import "body";
@import "main";
@import "product";
@import "pollo";
@import "cerdo";
@import "congelado";
@import "huevo";
@import "panrallado";
@import "queso";
@import "contact";
@import "faq";
@import "receta";
@import "footer";
@import "mediaquerrie";
